---
import Container from '@/components/shared/Container.astro';
import project1 from '@/assets/images/home/portfolio/project-1.png';
import project2 from '@/assets/images/home/portfolio/project-2.png';
import project3 from '@/assets/images/home/portfolio/project-3.png';
import project4 from '@/assets/images/home/portfolio/project-4.png';
import project5 from '@/assets/images/home/portfolio/project-5.png';
import { Picture } from 'astro:assets';
---

<Container as='section'>
  <div class='mx-auto text-center max-w-2xl'>
    <p class='text-base/7 font-semibold text-accent'>Featured Projects</p>
    <h2 class='mt-2 heading-1'>From Concept to Conversion</h2>
    <p
      class='mt-8 text-pretty text-lg font-medium text-foreground sm:text-xl/8'
    >
      Here's a glimpse into how I translate business challenges into beautiful,
      high-performance digital experiences.
      <a
        href='/portfolio'
        class='font-semibold text-accent underline hover:text-accent/75 transition-colors duration-300'
        >Explore my full portfolio</a
      > for a more detailed look.
    </p>
  </div>
  <!-- grid container -->
  <div class='mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6'>
    <div
      class='bg-gray-100 aspect-[16/10] rounded-lg w-full col-span-1 row-span-1 lg:col-span-3 overflow-hidden border-2 border-gray-100 shadow-lg shadow-gray-200'
    >
      <Picture
        src={project1}
        alt='Project 1'
        width={1000}
        height={1000}
        class='w-full h-full object-cover'
      />
    </div>
    <div
      class='bg-gray-100 aspect-[16/10] rounded-lg w-full col-span-1 row-span-1 lg:col-span-3 overflow-hidden border-2 border-gray-100 shadow-lg shadow-gray-200'
    >
      <Picture
        src={project2}
        alt='Project 2'
        width={1000}
        height={1000}
        class='w-full h-full object-cover'
      />
    </div>
    <div
      class='bg-gray-100 aspect-[6/7] rounded-lg w-full col-span-1 row-span-1 lg:col-span-2 overflow-hidden border-2 border-gray-100 shadow-lg shadow-gray-200'
    >
      <Picture
        src={project3}
        alt='Project 3'
        width={1000}
        height={1000}
        class='w-full h-full object-cover'
      />
    </div>
    <div
      class='bg-gray-100 aspect-[6/7] rounded-lg w-full col-span-1 row-span-1 lg:col-span-2 overflow-hidden border-2 border-gray-100 shadow-lg shadow-gray-200'
    >
      <Picture
        src={project4}
        alt='Project 4'
        width={1000}
        height={1000}
        class='w-full h-full object-cover'
      />
    </div>
    <div
      class='bg-gray-100 aspect-[6/7] rounded-lg w-full col-span-1 row-span-1 lg:col-span-2 overflow-hidden border-2 border-gray-100 shadow-lg shadow-gray-200'
    >
      <Picture
        src={project5}
        alt='Project 5'
        width={1000}
        height={1000}
        class='w-full h-full object-cover'
      />
    </div>
  </div>
</Container>
