---
import Container from '@/components/shared/Container.astro';
import project1 from '@/assets/images/home/portfolio/project-1.png';
import project2 from '@/assets/images/home/portfolio/project-2.png';
import project3 from '@/assets/images/home/portfolio/project-3.png';
import project4 from '@/assets/images/home/portfolio/project-4.png';
import project5 from '@/assets/images/home/portfolio/project-5.png';
import { Picture } from 'astro:assets';

const projects = [
  {
    src: project1,
    alt: 'Elegant flooring website',
    aspectRatio: 'aspect-[16/10]',
    colSpan: 'lg:col-span-3',
    width: 1200,
    height: 750,
    href: '/portfolio/#rockwood-flooring',
  },
  {
    src: project2,
    alt: 'Industrial style website for Spectre Corp',
    aspectRatio: 'aspect-[16/10]',
    colSpan: 'lg:col-span-3',
    width: 1200,
    height: 750,
    href: '/portfolio/#spectre-corp',
  },
  {
    src: project3,
    alt: 'Service-based website for a local business',
    aspectRatio: 'aspect-[6/7]',
    colSpan: 'lg:col-span-2',
    width: 1000,
    height: 1167,
    href: '/portfolio/#alm-junk-removal',
  },
  {
    src: project4,
    alt: 'Bold and modern website for a local auto detailing business',
    aspectRatio: 'aspect-[6/7]',
    colSpan: 'lg:col-span-2',
    width: 1000,
    height: 1167,
    href: '/portfolio/#ms-auto-detailing',
  },
  {
    src: project5,
    alt: 'Bright and modern website for an educational startup',
    aspectRatio: 'aspect-[6/7]',
    colSpan: 'lg:col-span-2',
    width: 1000,
    height: 1167,
    href: '/portfolio#polaris-education',
  },
];
---

<Container as='section'>
  <div class='mx-auto text-center max-w-2xl'>
    <p class='text-base/7 font-semibold text-accent'>Featured Projects</p>
    <h2 class='mt-2 heading-1'>From Concept to Conversion</h2>
    <p
      class='mt-8 text-pretty text-lg font-medium text-foreground sm:text-xl/8'
    >
      Here's a glimpse into how I translate business challenges into beautiful,
      high-performance digital experiences.
      <a
        href='/portfolio'
        class='font-semibold text-accent underline hover:text-accent/75 transition-colors duration-300'
        >Explore my full portfolio</a
      > to see the full story behind each project, from concept to conversion.
    </p>
  </div>
  <!-- grid container -->
  <div class='mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6'>
    {
      projects.map((project) => (
        <div
          class={`relative group bg-gray-100 ${project.aspectRatio} rounded-lg w-full col-span-1 row-span-1 ${project.colSpan} overflow-hidden border-2 border-gray-100 shadow-lg shadow-gray-200`}
        >
          <a href=''>
            <Picture
              src={project.src}
              alt={project.alt}
              width={project.width}
              height={project.height}
              widths={[400, 800, 1200, 1600]}
              sizes='(max-width: 768px) 100vw, (max-width: 1024px) 50vw, 33vw'
              formats={['avif', 'webp']}
              class='w-full h-full object-cover'
            />
            <div class='hidden absolute inset-0 bg-white/25 sm:flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300' />
          </a>
        </div>
      ))
    }
  </div>
</Container>
